
<!-- header -->
<h1 style="text-align:left;">
    <font size="300" face="italic">
        <image src="~/images/logo1.jpg" width="300" height="250" style="float left">
            <em><strong>Library Management System(LMS) </strong></em>
    </font>
</h1>

<hr>
<nav id="menu">
    <center>
        <font size="175" face="italic">
            <a href="/Home/Index">Home</a>
            <a href="/Home/addBook">Add Book</a>
            <a href="/Home/displayAllBooks">Display Books</a>
            <a href="/Home/displayBooks">Search Books</a>
        </font>
    </center>
</nav>
<hr>    
<!-- header end -->