@model MvcApplication_Assignment3.Models.book

@{
    ViewBag.Title = "editBook";
    Layout = "~/Views/shared/_layout.cshtml";
}

<!--edit book form content-->
<form align="center" id="editBookForm" method="get" action="/Home/editBook_DB/@Model.Id">

    <center><h3>Edit Book-Form</h3></center>
    <fieldset>
        <center><legend>Please fill in this form to submit changes.</legend></center>

        <table align="center" border="2">
            <tr>
                <td>BookName</td>
                <td><input type="text" name="bookname" value=@Model.bookName required><br></td>
            </tr>

            <tr>
                <td><center>Author</center></td>
                <td><input type="text" name="author" value=@Model.bookAuthor required><br></td>
            </tr>

            <tr>
                <td>Edition</td>
                <td><input type="text" name="edition" value=@Model.bookEdition required><br></td>
            </tr>
           
             <tr> 
                <td>Category</td>
                <td><input type="text" name="bookCategory" value=@Model.bookCategory required><br></td>
            </tr>

            <tr>
                <td colspan="2"><center><a href="#" class="button" onclick="document.getElementById('editBookForm').submit()"><span><span>Submit Changes </span></span></a></center><br></td>
            </tr>

        </table>
    </fieldset>
</form>