
@{
    Layout = "~/Views/shared/_layout.cshtml";
}

<!-- Home content -->
   <img src="~/images/lib2.jpg" style="float:right;width:500px;height:400px;">
   <img src="~/images/lib1.jpg" style="float:left;width:500px;height:400px;">
   <h4><p><center>A library is a curated collection of sources of information and similar resources, selected by experts and made accessible to a defined community for reference or borrowing. It provides physical or digital access to material, and may be a physical location or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats.</center></p></h4>

<!-- Home content end -->




